<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sb2.mapper.likeOrNotMapper">
    <resultMap id="BaseResultMap" type="com.example.sb2.entity.LikeOrNot">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="ans_id" jdbcType="INTEGER" property="ansId" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="like_state" jdbcType="BIT" property="likeState" />
    </resultMap>

    <sql id="Base_Column_List">
        id, ans_id, user_id, like_state
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from likeornot
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByAnsAndUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from likeornot
        where ans_id = #{ansId,jdbcType=INTEGER} and user_id = #{userId,jdbcType=INTEGER}
    </select>
</mapper>