<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sb2.mapper.reportMapper">
    <resultMap id="BaseResultMap" type="com.example.sb2.entity.Report">
        <id column="report_id" jdbcType="INTEGER" property="reportId" />
        <result column="report_user_id" jdbcType="INTEGER" property="reportUserId" />
        <result column="report_type" jdbcType="BIT" property="reportType" />
        <result column="report_type_id" jdbcType="INTEGER" property="reportTypeId" />
        <result column="reported_user_id" jdbcType="INTEGER" property="reportedUserId" />
        <result column="report_content" jdbcType="LONGVARCHAR" property="reportContent" />
        <result column="report_time" jdbcType="DATE" property="reportTime" />
        <result column="report_state" jdbcType="BIT" property="reportState" />
    </resultMap>
    <sql id="Base_Column_List">
    report_id, report_user_id, report_type, report_type_id, reported_user_id, report_content, report_time, report_state
  </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from report
        where report_id = #{reportId,jdbcType=INTEGER} order by report_time desc
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from report order by report_time desc
    </select>

    <select id="selectByType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from report
        where report_type = #{reportType,jdbcType=INTEGER} order by report_time desc
    </select>

    <select id="selectByState" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from report
        where report_state = #{reportState,jdbcType=INTEGER} order by report_time desc
    </select>

    <select id="selectByTypeAndState" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from report
        where report_type = #{reportType,jdbcType=INTEGER} and report_state = #{reportState,jdbcType=INTEGER} order by report_time desc
    </select>

    <select id="selectAllByReportedUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from report
        where reported_user_id = #{ReportedUserId,jdbcType=INTEGER} order by report_time desc
    </select>

    <select id="selectByTypeByReportedUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from report
        where reported_user_id = #{reportedUserId,jdbcType=INTEGER} and report_type = #{reportType,jdbcType=INTEGER} order by report_time desc
    </select>

    <select id="selectByStateByReportedUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from report
        where reported_user_id = #{reportedUserId,jdbcType=INTEGER} and report_state = #{reportState,jdbcType=INTEGER} order by report_time desc
    </select>

    <select id="selectByTypeAndStateByReportedUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from report
        where reported_user_id = #{reportedUserId,jdbcType=INTEGER} and report_type = #{reportType,jdbcType=INTEGER} and report_state = #{reportState,jdbcType=INTEGER} order by report_time desc
    </select>

    <select id="selectAllByUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from report
        where report_user_id = #{reportUserId,jdbcType=INTEGER} order by report_time desc
    </select>

    <select id="selectByTypeByUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from report
        where report_user_id = #{reportUserId,jdbcType=INTEGER} and report_type = #{reportType,jdbcType=INTEGER} order by report_time desc
    </select>

    <select id="selectByStateByUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from report
        where report_user_id = #{reportUserId,jdbcType=INTEGER} and report_state = #{reportState,jdbcType=INTEGER} order by report_time desc
    </select>

    <select id="selectByTypeAndStateByUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from report
        where report_user_id = #{reportUserId,jdbcType=INTEGER} and report_type = #{reportType,jdbcType=INTEGER} and report_state = #{reportState,jdbcType=INTEGER} order by report_time desc
    </select>
</mapper>